# Server Configuration
PORT=5000
NODE_ENV=development
 
# Database Configuration
MONGODB_URI=mongodb+srv://djrrivera25:admin1234@wdc028-course-booking.xw36oan.mongodb.net/
 
# Cloudinary Configuration
CLOUDINARY_API_SECRET=ab5CNBV1PXF6FdB3s5D56_zKmK8
CLOUDINARY_API_KEY=166399544464235
CLOUDINARY_CLOUD_NAME=dvzoz3hzk
CLOUDINARY_FOLDER=ngr-test
 
# Client Configuration
CLIENT_URL=http://localhost:5173
 
# Optional: Tesseract Configuration (if needed for custom settings)
# TESSERACT_LANG=eng
# TESSERACT_CONFIG=--psm 6
 
DISABLE_DUPLICATE_DETECTION=true